
body {
    font-family: Helvetica, Arial, sans-serif;
}

header h1 {
    color: #EDF2F4;
    font-size: 80px;
}

header h2 {
    color: #EDF2F4;
    font-size: 40px;
}

header, footer, .education {
    padding: 30px;


}

header, footer {
    background-color: #2B2D42;
    margin-top: 10px;
    margin-bottom: 10px;
}

.education {
    background-color: #8D99AE;
}

header p, footer {
    color: #8D99AE;
}


a {
    color: #EF233C;
}
