article {
    border: 1px solid grey;
    font-size: 1.25em;
    display: inline-block;
    margin: 10px;
    padding: 10px;

}


article:nth-child(odd) img {
    float: left;
    padding-right: 10px;
}

article:nth-child(even) img {
    float: right;
    padding-left: 10px;
}
